notidroid {
    fr.cvlaminck.notidroid.activemq.authentication.NotidroidDeviceLoginModule sufficient
        authorizationServerUrl="http://localhost:8080/oauth"
        apiRootUrl="http://localhost:8080/api/private"
        apiUsername="active-mq"
        apiPassword="password";
    fr.cvlaminck.notidroid.activemq.authentication.NotidroidCloudBackendLoginModule sufficient
        cloudBackendUsername="active-mq"
        cloudBackendPassword="password";
};